@model RoupaListViewModel

<div>
    <h2>@Model.CategoriaAtual</h2>
</div>

<hr />

<div class="container">
    <div class="row">
        @foreach (var roupa in Model.Roupas)
        {
            <partial name="_RoupaResumo" for="@roupa" />
        }
    </div>
</div>